In [5]:
import pandas as pd
import numpy as np

In [6]:
empids = [0,1,2,3,4,5,6,7,8,9]
series_empids = pd.Series(empids)
series_empids
df = pd.DataFrame(empids)
df.head(5)
df.tail(5)

   0
5  5
6  6
7  7
8  8
9  9

In [3]:
df.to_csv('empid.csv', index=False)

# Question 2

In [ ]:

df= pd.read_csv("Advertising.csv")

In [6]:
df.head(5)

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [7]:
df.tail(5)

        TV  radio  newspaper  sales
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

In [8]:
# iv) display the column names of the dataset.
df.columns

Index(['TV', 'radio', 'newspaper', 'sales'], dtype='object')

In [9]:
# v) display last three records from dataset.
df.tail(5)

        TV  radio  newspaper  sales
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

In [10]:
# vi) display the information about the dataset.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   radio      200 non-null    float64
 2   newspaper  200 non-null    float64
 3   sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [21]:
# vii) display data types of each columns.
# for i in list(df.columns):
#     print(df[i].dtype)
df.dtypes

TV              float64
radio           float64
newspaper       float64
sales           float64
update_sales    float64
dtype: object

In [12]:
# viii) check for null values in the dataset and display the sum of null values inside the column.
df.isna().sum()

TV           0
radio        0
newspaper    0
sales        0
dtype: int64

In [13]:
# ix) drop all null values.
# since no null values no need drop null values

In [14]:
df.drop(['radio'],axis=1).head()

      TV  newspaper  sales
0  230.1       69.2   22.1
1   44.5       45.1   10.4
2   17.2       69.3    9.3
3  151.5       58.5   18.5
4  180.8       58.4   12.9

In [15]:
# xi) increase the sales by 10% and add a new column "updated_sales" in dataframe.
df['update_sales'] = df['sales'] + 0.1*df['sales']

In [16]:
df.head()

      TV  radio  newspaper  sales  update_sales
0  230.1   37.8       69.2   22.1         24.31
1   44.5   39.3       45.1   10.4         11.44
2   17.2   45.9       69.3    9.3         10.23
3  151.5   41.3       58.5   18.5         20.35
4  180.8   10.8       58.4   12.9         14.19

In [17]:
df.shape

(200, 5)

# Question 5
## Refer the dataset "Salaries.csv" and perform following tasks.

In [18]:
df = pd.read_csv("Salaries .csv")

FileNotFoundError: [Errno 2] No such file or directory: 'Salaries .csv'

In [ ]:
df.head()
df.head(10)
df.tail()
df.tail(10)
df.columns
df.shape
df.describe()
df.info()
df.dtypes
# df['rank'].dtype

In [ ]:
for i in list(df.columns):
    if df[i].dtype == int or df[i].dtype == float:
        print(f"max of {i}: {int(df[i].max())}")
        print(f"mean of {i}: {int(df[i].min())}")
        print(f"mean of {i}: {int(df[i].mean())}")
        print(f"mean of {i}: {int(df[i].median())}")
        print(f"mean of {i}: {int(df[i].std())}")
    print("\n")

In [ ]:
# xii) check for null values in the dataset and display the sum of null values inside the column.
df.isna().sum()

In [ ]:
# xiii) Replace all null values by mean or mode acoording to the type of column.

In [ ]:
# 4. Consider each of following datasets and do below operations.
# i) Read the dataset.
# ii) Display first 5 and last 5 records. 
# iii) Display info and describe the dataset.
# iv) Find out null values.
# v) Fill the null values according to their data type.
# Vi) Convert catrgorical columns into numerical columns if present.

# datasets:
# i)   Claimants.csv
# ii)  Framingham.csv
# iii) Iris.csv
# iv) Churn.csv

In [ ]:
import os
os.getcwd()

In [ ]:
df1 = pd.read_csv('Claimants.csv')

In [ ]:
df1.head()
df1.tail()
df1.describe()
df1.info()
# help(pd.DataFrame.fillna)

In [ ]:
def fillnavalues(df):
    for i in list(df.columns):
        if df[i].dtype == int or df[i].dtype == float:
            df[i] = df[i].fillna(df[i].mean())
        elif df[i].dtype == object:
            df[i]  = df[i].fillna(df[i].mode())
fillnavalues(df1)
df1.isna().sum()

### Framingham.csv

In [ ]:
df2 = pd.read_csv("Framingham.csv")
df2.head()
df2.tail()
df2.info()
df2.describe()
df2.isna().sum()

In [ ]:
def fillnavalues(df):
    for i in list(df.columns):
        if df[i].dtype == int or df[i].dtype == float:
            df[i] = df[i].fillna(df[i].mean())
        elif df[i].dtype == object:
            df[i]  = df[i].fillna(df[i].mode())
fillnavalues(df2)
df2.isna().sum()

# iii) Iris.csv

In [ ]:
df3 = pd.read_csv("Iris.csv")
df3.head()
df3.tail()
df3.info()
df3.describe()
# df3.isna().sum()

In [ ]:
def fillnavalues(df):
    for i in list(df.columns):
        if df[i].dtype == int or df[i].dtype == float:
            df[i] = df[i].fillna(df[i].mean())
        elif df[i].dtype == object:
            df[i]  = df[i].fillna(df[i].mode())
fillnavalues(df3)
df3.isna().sum()

# iv) Churn.csv

In [ ]:
df4 = pd.read_csv("Churn.csv")
df4.head()
df4.tail()
df4.info()
df4.describe()
df.isna().sum()

In [ ]:
def fillnavalues(df):
    for i in list(df.columns):
        if df[i].dtype == int or df[i].dtype == float:
            df[i] = df[i].fillna(df[i].mean())
        elif df[i].dtype == object:
            df[i]  = df[i].fillna(df[i].mode())
fillnavalues(df3)
df4.isna().sum()