Que.1 -
Data Description:
RI : refractive index
Na: Sodium (unit measurement: weight percent in corresponding oxide, as are attributes 4-10)
Mg: Magnesium
AI: Aluminum
Si: Silicon
K:Potassium
Ca: Calcium
Ba: Barium
Fe: Iron
Type: Type of glass: (class attribute)
 1 -- building_windows_float_processed
 2 --building_windows_non_float_processed
 3 --vehicle_windows_float_processed
 4 --vehicle_windows_non_float_processed (none in this database)
 5 --containers
 6 --tableware
 7 --headlamps

Dataset : Glass.csv

Prepare model by using Decision Tree, Random Forest , AdaBoost, CatBoost ,XGBoost & Calculate Accuracy by confusion matrix, Calculate accuracy score, precision score, recall score, f1 score.

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("glass.csv")

In [4]:
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [5]:
df.info

<bound method DataFrame.info of           RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]>

In [6]:
df.describe()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516522,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

In [7]:
df.isna().sum()

RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

In [8]:
df.corr()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
RI,1.000000,-0.191885,-0.122274,-0.407326,-0.542052,-0.289833,0.810403,-0.000386,0.143010,-0.164237
Na,-0.191885,1.000000,-0.273732,0.156794,-0.069809,-0.266087,-0.275442,0.326603,-0.241346,0.502898
Mg,-0.122274,-0.273732,1.000000,-0.481799,-0.165927,0.005396,-0.443750,-0.492262,0.083060,-0.744993
Al,-0.407326,0.156794,-0.481799,1.000000,-0.005524,0.325958,-0.259592,0.479404,-0.074402,0.598829
Si,-0.542052,-0.069809,-0.165927,-0.005524,1.000000,-0.193331,-0.208732,-0.102151,-0.094201,0.151565
K,-0.289833,-0.266087,0.005396,0.325958,-0.193331,1.000000,-0.317836,-0.042618,-0.007719,-0.010054
Ca,0.810403,-0.275442,-0.443750,-0.259592,-0.208732,-0.317836,1.000000,-0.112841,0.124968,0.000952
Ba,-0.000386,0.326603,-0.492262,0.479404,-0.102151,-0.042618,-0.112841,1.000000,-0.058692,0.575161
Fe,0.143010,-0.241346,0.083060,-0.074402,-0.094201,-0.007719,0.124968,-0.058692,1.000000,-0.188278
Type,-0.164237,0.502898,-0.744993,0.598829,0.151565,-0.010054,0.000952,0.575161,-0.188278,1.000000

In [9]:
for i in df.columns:
    corr = df['Type'].corr(df[i])
    if corr >= -0.1 and corr <= 0.1:
        df.drop(i,axis=1,inplace = True)

In [10]:
df.head()

        RI     Na    Mg    Al     Si   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.0  0.0     1

In [11]:
x = df.drop('Type',axis = 1)
y = df['Type']

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.8,random_state=123456)

In [13]:
def Decision_tree():
    from sklearn.tree import DecisionTreeClassifier
    model = DecisionTreeClassifier()
    model.fit(x_train,y_train)
    return model

In [14]:
def Random_forest():
    from sklearn.ensemble import RandomForestClassifier
    model = RandomForestClassifier()
    model.fit(x_train,y_train)
    return model

In [15]:
def AdaBoost():
    from sklearn.ensemble import AdaBoostClassifier
    model = AdaBoostClassifier()
    model.fit(x_train,y_train)
    return model

In [35]:
def CatBoost():
    from CatBoost import CatBoostClassifier
    model = CatBoostClassifier()
    model.fit(x_train,y_train)
    return model

In [36]:
def XgBoost():
    from xgboost import XGBClassifier
    model = XGBClassifier()
    model.fit(x_train,y_train)
    return model

In [37]:
models = []
models.append({'name': 'Decision_tree','model':Decision_tree()})
models.append({'name':'Random Forest','model': Random_forest()})
models.append({'name': 'AdaBoost','model':AdaBoost()})
models.append({'name':'CatBoost','model':CatBoost()})
models.append({'name':'XgBoost','model':XgBoost()})

ModuleNotFoundError: No module named 'CatBoost'

In [38]:
pip install Catboost

Collecting Catboost
  Downloading catboost-1.2.8-cp313-cp313-win_amd64.whl.metadata (1.5 kB)
Collecting graphviz (from Catboost)
  Downloading graphviz-0.20.3-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: matplotlib in c:\users\amit khode\appdata\local\programs\python\python313\lib\site-packages (from Catboost) (3.10.1)
Requirement already satisfied: numpy<3.0,>=1.16.0 in c:\users\amit khode\appdata\local\programs\python\python313\lib\site-packages (from Catboost) (2.2.4)
Requirement already satisfied: pandas>=0.24 in c:\users\amit khode\appdata\local\programs\python\python313\lib\site-packages (from Catboost) (2.2.3)
Requirement already satisfied: scipy in c:\users\amit khode\appdata\local\programs\python\python313\lib\site-packages (from Catboost) (1.15.2)
Collecting plotly (from Catboost)
  Downloading plotly-6.0.1-py3-none-any.whl.metadata (6.7 kB)
Requirement already satisfied: six in c:\users\amit khode\appdata\local\programs\python\python313\lib\site-packages (from Catboost) (1.17.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\amit khode\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.24->Catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\amit khode\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.24->Catboost) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\amit khode\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.24->Catboost) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\amit khode\appdata\local\programs\python\python313\lib\site-packages (from matplotlib->Catboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\amit khode\appdata\local\programs\python\python313\lib\site-packages (from matplotlib->Catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\amit khode\appdata\local\programs\python\python313\lib\site-packages (from matplotlib->Catboost) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\amit khode\appdata\local\programs\python\python313\lib\site-packages (from matplotlib->Catboost) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\amit khode\appdata\local\programs\python\python313\lib\site-packages (from matplotlib->Catboost) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\amit khode\appdata\local\programs\python\python313\lib\site-packages (from matplotlib->Catboost) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\amit khode\appdata\local\programs\python\python313\lib\site-packages (from matplotlib->Catboost) (3.2.3)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\amit khode\appdata\local\programs\python\python313\lib\site-packages (from plotly->Catboost) (1.32.0)
Downloading catboost-1.2.8-cp313-cp313-win_amd64.whl (102.4 MB)
   ---------------------------------------- 0.0/102.4 MB ? eta -:--:--
    --------------------------------------- 1.3/102.4 MB 7.5 MB/s eta 0:00:14
   - -------------------------------------- 3.1/102.4 MB 7.6 MB/s eta 0:00:14
   - -------------------------------------- 4.7/102.4 MB 8.1 MB/s eta 0:00:13
   -- ------------------------------------- 6.6/102.4 MB 8.0 MB/s eta 0:00:12
   --- ------------------------------------ 8.4/102.4 MB 8.2 MB/s eta 0:00:12
   --- ------------------------------------ 10.2/102.4 MB 8.3 MB/s eta 0:00:12
   ---- ----------------------------------- 12.1/102.4 MB 8.4 MB/s eta 0:00:11
   ----- ---------------------------------- 13.6/102.4 MB 8.3 MB/s eta 0:00:11
   ----- ---------------------------------- 15.2/102.4 MB 8.3 MB/s eta 0:00:11
   ------ --------------------------------- 17.0/102.4 MB 8.3 MB/s eta 0:00:11
   ------- -------------------------------- 18.6/102.4 MB 8.2 MB/s eta 0:00:11
   ------- -------------------------------- 20.4/102.4 MB 8.2 MB/s eta 0:00:10
   -------- ------------------------------- 22.0/102.4 MB 8.1 MB/s eta 0:00:10
   --------- ------------------------------ 23.6/102.4 MB 8.1 MB/s eta 0:00:10
   --------- ------------------------------ 25.4/102.4 MB 8.1 MB/s eta 0:00:10
   ---------- ----------------------------- 27.0/102.4 MB 8.1 MB/s eta 0:00:10
   ----------- ---------------------------- 28.6/102.4 MB 8.0 MB/s eta 0:00:10
   ----------- ---------------------------- 30.1/102.4 MB 8.0 MB/s eta 0:00:10
   ------------ --------------------------- 32.2/102.4 MB 8.1 MB/s eta 0:00:09
   ------------- -------------------------- 33.8/102.4 MB 8.0 MB/s eta 0:00:09
   ------------- -------------------------- 35.4/102.4 MB 8.1 MB/s eta 0:00:09
   -------------- ------------------------- 37.0/102.4 MB 8.0 MB/s eta 0:00:09
   --------------- ------------------------ 38.8/102.4 MB 8.0 MB/s eta 0:00:08
   --------------- ------------------------ 40.6/102.4 MB 8.0 MB/s eta 0:00:08
   ---------------- ----------------------- 43.3/102.4 MB 8.0 MB/s eta 0:00:08
   ----------------- ---------------------- 44.8/102.4 MB 8.0 MB/s eta 0:00:08
   ------------------ --------------------- 46.4/102.4 MB 8.0 MB/s eta 0:00:07
   ------------------ --------------------- 48.2/102.4 MB 8.0 MB/s eta 0:00:07
   ------------------- -------------------- 49.5/102.4 MB 8.0 MB/s eta 0:00:07
   -------------------- ------------------- 51.6/102.4 MB 8.0 MB/s eta 0:00:07
   -------------------- ------------------- 53.2/102.4 MB 8.0 MB/s eta 0:00:07
   --------------------- ------------------ 54.8/102.4 MB 8.0 MB/s eta 0:00:06
   ---------------------- ----------------- 56.4/102.4 MB 8.0 MB/s eta 0:00:06
   ---------------------- ----------------- 57.9/102.4 MB 8.0 MB/s eta 0:00:06
   ----------------------- ---------------- 59.5/102.4 MB 8.0 MB/s eta 0:00:06
   ----------------------- ---------------- 61.3/102.4 MB 8.0 MB/s eta 0:00:06
   ------------------------ --------------- 62.9/102.4 MB 8.0 MB/s eta 0:00:05
   ------------------------- -------------- 64.5/102.4 MB 8.0 MB/s eta 0:00:05
   ------------------------- -------------- 66.3/102.4 MB 8.0 MB/s eta 0:00:05
   -------------------------- ------------- 67.9/102.4 MB 8.0 MB/s eta 0:00:05
   --------------------------- ------------ 69.2/102.4 MB 8.0 MB/s eta 0:00:05
   --------------------------- ------------ 71.0/102.4 MB 8.0 MB/s eta 0:00:04
   ---------------------------- ----------- 72.9/102.4 MB 8.0 MB/s eta 0:00:04
   ----------------------------- ---------- 74.4/102.4 MB 8.0 MB/s eta 0:00:04
   ----------------------------- ---------- 76.0/102.4 MB 8.0 MB/s eta 0:00:04
   ------------------------------ --------- 77.6/102.4 MB 8.0 MB/s eta 0:00:04
   ------------------------------- -------- 79.4/102.4 MB 8.0 MB/s eta 0:00:03
   ------------------------------- -------- 81.0/102.4 MB 8.0 MB/s eta 0:00:03
   -------------------------------- ------- 82.8/102.4 MB 8.0 MB/s eta 0:00:03
   -------------------------------- ------- 84.4/102.4 MB 8.0 MB/s eta 0:00:03
   --------------------------------- ------ 86.2/102.4 MB 8.0 MB/s eta 0:00:03
   ---------------------------------- ----- 87.6/102.4 MB 8.0 MB/s eta 0:00:02
   ---------------------------------- ----- 89.1/102.4 MB 8.0 MB/s eta 0:00:02
   ----------------------------------- ---- 90.2/102.4 MB 8.0 MB/s eta 0:00:02
   ----------------------------------- ---- 90.2/102.4 MB 8.0 MB/s eta 0:00:02
   ----------------------------------- ---- 90.2/102.4 MB 8.0 MB/s eta 0:00:02
   ----------------------------------- ---- 90.2/102.4 MB 8.0 MB/s eta 0:00:02
   ----------------------------------- ---- 90.4/102.4 MB 7.4 MB/s eta 0:00:02
   ----------------------------------- ---- 91.5/102.4 MB 7.4 MB/s eta 0:00:02
   ------------------------------------ --- 92.8/102.4 MB 7.3 MB/s eta 0:00:02
   ------------------------------------ --- 94.4/102.4 MB 7.3 MB/s eta 0:00:02
   ------------------------------------- -- 95.9/102.4 MB 7.3 MB/s eta 0:00:01
   -------------------------------------- - 98.0/102.4 MB 7.4 MB/s eta 0:00:01
   -------------------------------------- - 99.6/102.4 MB 7.4 MB/s eta 0:00:01
   ---------------------------------------  100.7/102.4 MB 7.3 MB/s eta 0:00:01
   ---------------------------------------  102.2/102.4 MB 7.3 MB/s eta 0:00:01
   ---------------------------------------  102.2/102.4 MB 7.3 MB/s eta 0:00:01
   ---------------------------------------- 102.4/102.4 MB 7.2 MB/s eta 0:00:00
Downloading graphviz-0.20.3-py3-none-any.whl (47 kB)
Downloading plotly-6.0.1-py3-none-any.whl (14.8 MB)
   ---------------------------------------- 0.0/14.8 MB ? eta -:--:--
   - -------------------------------------- 0.5/14.8 MB 2.8 MB/s eta 0:00:06
   --- ------------------------------------ 1.3/14.8 MB 3.4 MB/s eta 0:00:04
   ----- ---------------------------------- 2.1/14.8 MB 3.7 MB/s eta 0:00:04
   ------- -------------------------------- 2.9/14.8 MB 3.9 MB/s eta 0:00:04
   ----------- ---------------------------- 4.2/14.8 MB 4.4 MB/s eta 0:00:03
   --------------- ------------------------ 5.8/14.8 MB 4.8 MB/s eta 0:00:02
   ------------------- -------------------- 7.3/14.8 MB 5.3 MB/s eta 0:00:02
   ------------------------ --------------- 8.9/14.8 MB 5.5 MB/s eta 0:00:02
   ----------------------------- ---------- 11.0/14.8 MB 6.0 MB/s eta 0:00:01
   ----------------------------------- ---- 13.1/14.8 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------  14.7/14.8 MB 6.6 MB/s eta 0:00:01
   ---------------------------------------- 14.8/14.8 MB 6.3 MB/s eta 0:00:00
Installing collected packages: plotly, graphviz, Catboost
Successfully installed Catboost-1.2.8 graphviz-0.20.3 plotly-6.0.1
Note: you may need to restart the kernel to use updated packages.