Que1.-
In this dataset you have to predict that whether we have to give ATTORNEY to the clients or not (0=Yes, 1=No) based on below factors.
CLMAGE - Age of Client
CLMSEX - Sex of client (0=Male, 1= Female)
SEATBELT - Whether client has Seatbelt or not (0=Yes, 1=No)
CLMINSUR - Whether Client give Insurance or not (0=Yes, 1=No)
LOSS - Loss that client faced

Prepare model by using Naive Bayes,KNN and SVM & Also calculate Accuracy by confusion matrix, Calculate accuracy score, precision score, recall score, f1 score.

Dataset : Claimants.csv

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("claimants.csv")

# EDA

In [4]:
df.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ATTORNEY  1340 non-null   int64
 1   CLMSEX    1328 non-null   float64
 2   CLMINSUR  1299 non-null   float64
 3   SEATBELT  1292 non-null   float64
 4   CLMAGE    1151 non-null   float64
 5   LOSS      1340 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 62.9 KB

In [6]:
df.describe()

,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS
count,1340.000000,1328.000000,1299.000000,1292.000000,1151.000000,1340.000000
mean,0.488806,0.558735,0.907621,0.017028,28.414422,3.806307
std,0.500061,0.496725,0.289671,0.129425,20.304451,10.636903
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.000000,0.000000,9.000000,0.400000
50%,0.000000,1.000000,1.000000,0.000000,30.000000,1.069500
75%,1.000000,1.000000,1.000000,0.000000,43.000000,3.781500
max,1.000000,1.000000,1.000000,1.000000,95.000000,173.604000

## Checking NA values

In [7]:
df.isna().sum()

ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [8]:
df['CLMSEX'] = df['CLMSEX'].fillna(df['CLMSEX'].mode()[0])
df['CLMINSUR'] = df['CLMINSUR'].fillna(df['CLMINSUR'].mode()[0])
df['SEATBELT'] = df['SEATBELT'].fillna(df['SEATBELT'].mode()[0])
df['CLMAGE'] = df['CLMAGE'].fillna(df['CLMAGE'].mean())

In [9]:
df.isna().sum()

ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [10]:
df.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

# Splitting the Training and Testing data

In [11]:
x = df.drop('ATTORNEY',axis = 1)
y = df['ATTORNEY']

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.8,random_state=123456)

# Model Training

In [13]:
def create_NaiveBayes_model():
    from sklearn.naive_bayes import GaussianNB
    model_NB = GaussianNB()
    model_NB.fit(x_train,y_train)
    return model_NB

In [14]:
def Create_KNN_model():
    from sklearn.neighbors import KNeighborsClassifier
    model_KNN = KNeighborsClassifier()
    model_KNN.fit(x_train,y_train)
    return model_KNN

def create_SVM_model():
    from sklearn.svm import SVC
    model_SVC = SVC()
    model_SVC.fit(x_train,y_train)
    return model_SVC

# model evaluation

In [15]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score,confusion_matrix
def model_evaluation(model):
    y_pred = model.predict(x_test)
    accuracy = accuracy_score(y_test,y_pred)
    precision = precision_score(y_test,y_pred)
    recall = recall_score(y_test,y_pred)
    f1 = f1_score(y_test,y_pred)
    cm = confusion_matrix(y_test,y_pred)
    return accuracy,precision,recall,f1,cm

In [16]:
# list to keep all the models
models = []

# create all the models
models.append({"name": "Naive Bayes", "model": create_NaiveBayes_model()})
models.append({"name": "KNN", "model": Create_KNN_model()})
models.append({"name": "SVM", "model": create_SVM_model()})

In [17]:
# get the models evaluated
for model_info in models:
    # get the evaluation metrics
    accuracy, precision, recall, f1, CM = model_evaluation(model_info['model'])

    # keep the metrics
    model_info['accuracy'] = accuracy
    model_info['precision'] = precision
    model_info['recall'] = recall
    model_info['f1'] = f1
    model_info['CF'] = CM

In [18]:
evaluation_df = pd.DataFrame(models, columns=["name", "accuracy", "precision", "recall", "f1"])
evaluation_df

          name  accuracy  precision    recall        f1
0  Naive Bayes  0.544776   0.510730  0.937008  0.661111
1          KNN  0.652985   0.618056  0.700787  0.656827
2          SVM  0.667910   0.606742  0.850394  0.708197